/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    background-color: #5270CD;
  }
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  
  #shadowbox {
    display: grid;
    grid-template-columns: 30% 70%;
    min-width: 35em;
    
    width: 90%;
    height: 90%;
    overflow: hidden;
    
    background-color: black;
    position: fixed;
    top: 5%;
    left: 5%;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
    color: black;
  }

  .home-title {
    text-align: left;
    margin-bottom: 0em;
  }


  .partie-gauche {  
    display: flex;
    flex-direction: column;
    background-color: #041C32;
    color : white;
  }

  .title {
    margin-left: 10%;
    text-align:left;
  }
  
  .contact-list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    
    max-height: 50%; /* ToDo: trouver une solution pour que la taille de la liste ne dépasse pas */
  
    /* border: 1px solid #FFFFFF; */
    text-align:left;
  }
  
  .contact:hover {
    cursor: pointer;
    background: #04293A;
  }
  
  .contact.selected {
    background: #064663;
  }
  
  .grid-80-20 {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: -2.5em;
  }
  
  .contact-title {
    margin-left: 15px;
    font-size: 1.2em;
  }
  
  .message-hour {
    margin-right: 1em;
    text-align:right;
    margin-top: 1.5em;
    color: #888888;
    font-size: 0.9em;
  }
  
  .last-message {
    margin-left: 15px;
    color: #888888;
  }
  
  .partie-droite{
    background-color: white;
  }
  
  
  /*Partie CSS pour homepage*/
  
  #chatbox{
    position: bottom;
  }
  
  .bouton {
    border-radius: 50px;
  }
  
  footer {
    position:absolute;
    bottom:0;
    width:70%;
    text-align: center;
    color: #888888;
    padding-top:50px;
  }
  
  