.side-logo-container {
    width: 100%;
    height: 200px;
    margin: 0 !important;
    padding: 0 !important;
    
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.side-logo-container img {
    width: 200px;
    height: 200px;
    /* border: 1px solid salmon; */
    margin : auto;
}

.side-spacer-1{
    width: 100%;
    height: 150px;
    margin: 0 !important;
    padding: 0 !important;
}

.side-spacer-2{
    width: 100%;
    height: calc(100% - 490px);
    margin: 0 !important;
    padding: 0 !important;
}

.side-text-container {
    width: 100%;
    height: 70px;
    margin: 0 !important;
    padding: 0 !important;

    display: flex;
    align-items: center;
    
    text-align: center;
    /* border: 1px solid gainsboro; */
}

.side-text-meta {
    width: 100%;
    font-size: x-large;
    color: #888888;
}

.logo-title {
    width: 100%;
    height: 100px;
    margin: 0 !important;
    padding: 0 !important;

    display: flex;
    align-items: center;
}

.logo-title img {
    float: left;
    width: 80px;
    height: 70px;
    margin-left: 4%; 
    /* Censé être 5% mais que l'image est pas en PNG et dépasse un peu */
}

.dylchat-title {
    margin: 0;
    font-size: xx-large;
    font-weight: 700;
    text-align: left;
    color: #888888;
}



/* Se connecter | S'inscrire */

.login-container {
    margin: 0;
    padding: 0 30px;
    /* border: 1px solid olive; */
}

.login {
    margin: 0;
    text-align: left;
    /* border: 1px solid red; */
}

.login-text {
    color: #041C32;
    font-size: x-large;
    font-weight: 550;
    margin-right: 15px;
}

.login-active {
    color: #041C32;
}

.login-inactive {
    color: #888888;
    cursor: pointer;
}

.login-inactive:hover {
    color: #064663;
}


/* Formulaires de login */

.log-form-container {
    width: 100%;
    margin: 0 !important;
    padding: 30px 0 !important;
    text-align: left;
    /* border: 1px solid rebeccapurple;  */
}

.log-form-container.visible {
    display: block-inline;
}

.log-form-container.hidden {
    display: none;
}

.log-form {
    margin-left: 5%;
}


/* Inputs du formulaire */

.input-container {
    max-width: 25em;
    position: relative;
    margin-bottom: 2em;
    padding: 10px 0;
}

.input-container label {
    position: absolute;
    top: 0px;
    padding-top: 10px;
    left: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #041C32;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 18px;
    color: #041C32;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -12px;
    font-size: 16px;
}


/* Bouton Connexion / S'inscrire */

.bouton-text-container {
    display: flex; 
    align-items: center;
    margin-bottom: 2em;
}

.bouton-connexion {
    width: 11em;
    margin-right: 10px;
}

.text-connect {
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
}

.btn-connect {
    appearance: button;
    backface-visibility: hidden;
    background-color: #041C32;
    /* border-radius: 6px; */
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    line-height: 1.15;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.btn-connect:disabled {
    cursor: default;
}

.btn-connect:hover {
    background-color: #064663;
}

.btn-connect:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


/* erreur de connexion et d'inscription  */

.text-red {
    text-align: left;
    margin-left: 5%;
    top: 30%;
    color: red;
}

.text-red.visible {
    display: block;
    visibility: visible;
}

.text-red.hidden {
    display: none;
    visibility: hidden;
}


/* Password checker */

#password_conseil {
    padding : 0px;
}

.strenght-password-container {
    max-width: 25em;
    height: 10px;
    margin-bottom: 2em;
    margin-top: -2em;

    display: flex;
}

.strenght-password-bar {
    background-color: gray;
    width: 10%;
    margin-right: 2px;

    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

@media screen and (max-width: 700px) {
    .login-container {
        margin: 0;
        padding: 0 20px;
        /* border: 1px solid olive; */
    }

    .login-text {
        color: #041C32;
        font-size: 18px;
        font-weight: 550;   
    }

    .login-active {
        color: #041C32;
    }

    .login-inactive {
        color: #888888;
        cursor: pointer;
    }

    .login-inactive:hover {
        color: #064663;
    }

    .bouton-connexion {
        width: 10em;
        margin-right: 5px;
    }

    .text-connect {
        margin: 0;
        margin-left: 5px;
        font-size: 12px;
    }
}