/* default to border-box */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* adjust typography defaults */

body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    background-color: #216897;
}


/* images and videos max out at full width */

img,
video {
    height: auto;
    max-width: 100%;
}

#shadowbox {
    display: grid;
    grid-template-columns: 30% 70%;
    min-width: 35em;
    width: 90%;
    height: 90%;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 5%;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 1) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    color: black;
    z-index: 10;
}

#shadowbox h1 {
    font-size: x-large;
    margin: auto;
    width: 70%;
    padding-bottom: 5%;
}

#password_conseil {
    padding: 5%;
    margin: 2%;
}

.home-title {
    text-align: left;
    margin-bottom: 0em;
}

.partie-gauche {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 28, 50);
    color: white;
}

.header-gauche {
    /* display: flex;
    align-items: center */
    display: grid;
    grid-template-areas: "rooms . plus";
    grid-template-columns: 80% 20%;
    border-bottom: 3px solid black;
}

.partie-gauche .header-gauche {
    grid-area: rooms;
}

.partie-gauche .rightplus {
    grid-area: plus;
    padding: 50%;
}


/* .header-gauche .rightplus {
    float: right;
    margin-right: 10% !important;
    margin-left: auto;
} */

.title {
    margin-left: 10%;
    text-align: left;
}

.contact-list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* max-height: 50%; */
    height: calc(100vh - 200px);
    /* ToDo: trouver une solution pour que la taille de la liste ne dépasse pas */
    /* border: 1px solid #FFFFFF; */
    text-align: left;
    overflow-x: hidden;
}

.contact-list::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.contact-list::-webkit-scrollbar-track {
    background: rgb(4, 28, 50);
    /* color of the tracking area */
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: #565656;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    /*border: 3px solid #565656; /* creates padding around scroll thumb */
}

.contact {
    border-bottom: 0.25px solid #565656;
}

.contact:hover {
    cursor: pointer;
    background: rgb(4, 41, 58);
}

.contact.selected {
    background: #064663;
}

.grid-80-20 {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: -2.5em;
}

.contact-title {
    margin-left: 15px;
    font-size: 1.2em;
}

.message-hour {
    margin-right: 1em;
    text-align: right;
    margin-top: 1.5em;
    color: #888888;
    font-size: 0.9em;
}

.last-message {
    margin-left: 15px;
    color: #888888;
}


/* -------------------- Menu de déconnexion -------------------- */

.footer-gauche {
    background-color: #064663;
    display: grid;
    grid-template-areas: "accueilpage . mon-profil . try-deconn";
    grid-template-columns: 20% 60% 20%;
    bottom: 0;
    margin-top: auto;
    height: 10%;
    width: calc(30%); ;
    min-height: 60px;
    max-height: 60px;
    position: absolute;
}

.accueilpage {
    margin: 0 auto;
    border-right: 3px solid rgb(4, 28, 50);
    padding: 15px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.mon-profil {
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.trydeconnect {
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 3px solid rgb(4, 28, 50);
    padding-bottom: 15px;
    margin-top: 10px;
}

#menu_deco {
    display: none;
    grid-template-areas: "text text" ". ." "deconnexion close";
    grid-template-rows: 40% 30% 15%;
    /* Attribute */
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 5%;
    /*  Border */
    border: solid 3px;
    border-color: rgb(4, 28, 50);
    box-shadow: 0px 8px 15px rgba(4, 28, 50, 0.8);
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.menu_deco .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#menu_deco button {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 5%;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#menu_deco button:hover {
    background-color: rgb(4, 28, 50);
    color: #fff;
    transform: translateY(-2px);
}

#valider-deconnexion {
    grid-area: deconnexion;
    background-color: #064663;
    color: white;
}

#annuler-deconnexion {
    grid-area: close;
    background-color: #0099cc;
    color: white;
}

#menu_deco label {
    grid-area: text;
    padding-top: 40px;
    color: rgb(4, 28, 50);
}


/* -------------------- Menu d'ajout de conversation -------------------- */

#menu_ajouter_conv {
    display: none;
    grid-template-areas: "text text" "input input" "message message" "add close";
    grid-template-rows: 25% 10% 45% 15%;
    /* Attribute */
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 5%;
    /*  Border */
    border: solid 3px;
    border-color: rgb(4, 28, 50);
    box-shadow: 0px 8px 15px rgba(4, 28, 50, 0.8);
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

#menu_ajouter_conv button {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 5%;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#menu_ajouter_conv button:hover {
    background-color: rgb(4, 28, 50);
    color: #fff;
    transform: translateY(-2px);
}

input {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

#menu_ajouter_conv label {
    grid-area: text;
    padding-top: 25px;
    color: rgb(4, 28, 50);
}

#menu_ajouter_conv input {
    grid-area: input;
    text-align: center;
}

#ajouter_conv {
    grid-area: add;
    background-color: #064663;
    color: white;
}

#fermer_menu {
    grid-area: close;
    background-color: #0099cc;
    color: white;
}

#text_ajout_contact {
    grid-area: message;
    color: #565656;
}

.partie-droite {
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 70%;
    text-align: center;
    color: #888888;
    padding-top: 50px;
}


/* Dylan   */

#accueil {
    line-height: 20px;
    width: 70%;
    position: absolute;
    top: 40%;
}


/* #chat {} */

.hidden {
    display: none
}

.text-menu {
    color: #888888;
}

.text-link-blue {
    color: #2D9BF0;
}

.text-link-blue:hover {
    color: #0071c7;
    cursor: pointer;
}


/*
  .grid-container {
    display:grid;
  }
  
  .item-grid-container {
    
  }
  
  #group-container {
    height: 100%;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "header"
                          "main-body"
                          "bot";
  }
  
  #header-group {
    grid-area: header;
  }
  
  .flex-container {
    display: flex;
  }
  
  .item-flex-container {
    border-bottom: 4px solid #E6E6E6;
  }
  
  #photo-chat-group {
    flex:150px;
    margin-left: 15px;
  }
  
  #name-chat-group {
    flex:60%;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 24px;
    font-family: 'Noto Sans Hebrew', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', Arial, Arial, sans-serif;
    color: rgb(26, 26, 26);
  }
  
  #statut-chat-group {
    flex:40%;
    font-size: normal;
    font-style: italic;
    text-align: right;
    font-weight: lighter;
    color: #888888;
    border-collapse: separate;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    position: relative;
  }
  
  .led-status {
    width: 20px;
    height: 10px;
    position: relative;
    border-collapse: collapse;
    padding-top: 20px;
    background-color: #8FD14F;
    border-radius: 100%;
    border-width: 0px;
    margin-right: 10px;
  }
  
  #option-chat-group {
    flex:30px;
    margin-right: 30px;
    margin-top: 0px;
  }
  
  #option-header-button {
    position: relative;
    height: 100%;
    width: 30px;
    border-width: 0px;
    background-color: white;
  }
  
  #option-header-icon {
    height: 30px;
    margin-left: 5px;
  }
  
  #chat-group {
    grid-area: main-body;
  }
  
  #message-bar-group {
    grid-area: bot;
    align-self: center;
  }
  
  input:placeholder-shown {
    font-style:italic;
  }
  
  .button-chat-bar {
    color: white;
    background-color:#2D9BF0;
    border-color: #2D9BF0;
    border-radius: 6px;
    border-width: 0px;
    font-weight: bold;
    text-align: center;
    margin: 8px;
    height: 30px;
  }
  
  .button-chat-bar:hover {
    background-color:#0071c7;
  }
  
  .input-chat-bar {
    width: 75%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #222;
  }
   
  .photo-header {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    padding: 15%;
  }
  */